/*Tags*/
body {
  background-color: #A89696;
  margin: 0;
  font-family: monospace;
}

div {
  background-color: #518972;
  color: #EFF6E0;
  font-family: monospace;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #EFF6E0;
  font-size: 20px;
}

/*Classes*/
#header {
  padding: 5px;
}

.tab {
  background-color: #1E3F20;
  padding: 10px;
  width: 100px;
}

.art_portfolio {
  margin: 0 auto;
  max-width: 90%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #EFF6E0;
  height: 100%
}

.art_item {
  padding: 5px 5px 5px 5px;
}