.timeline {
  margin: 0 auto;
  max-width: 90%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 4fr;
  color: #EFF6E0;
  height: 100%
}

.timeline_component {
  margin: 0 0 0 0;
}

.timeline_title {
  margin: 0 0 0 0;
  top: 0;
}

.content::before {
  content: '';
  position: relative;
  border: 10px solid transparent;
  border-right: 10px solid #EFF6E0;
  display: inline-block;
  transform: translateX(-30px);
  top: 15px;
  left: 0;
}

.content {
  color: #1E3F20;
  left: 20px;
  background: #EFF6E0;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 10px 10px 10px;
}

.timeline_date {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 15px;
  width: 90%;
  text-align: center;
  color: #1E3F20;
  background: #EFF6E0;
  border-radius: 5px;
}

.timeline_middle {
  position: relative;
  background: #1E3F20;
}

.timeline_point {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #1E3F20;
  border-radius: 50%;
}

.techproject {
  color: #1E3F20;
  left: 20px;
  background: #EFF6E0;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 10px 10px 10px;
}