@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


@import "tailwindcss";

@theme {
    --color-label-color: #090A1C;
}

.pixelated{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.roboto-mono-font-regular {
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

.roboto-mono-font-bold {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}