body {
    background-color: #2C4A5B;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
}

.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.unselectable-text {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#fullScreenImage{
    z-index: 2;
    pointer-events: none;
}

#fullScreenContent{
    z-index: 1;
}

#pixelDesktopImg {
    width: 100vw;
    object-fit: fill; /* Makes image fill the container */
    display: inline-block;
    align-self: flex-end;
}

#navBar {
    background-color: #F0EFEF;
    display: inline-block;
    align-self: flex-end;
    width: 21.5vw;
    height: 41vw;
    position: absolute;    /* Position absolutely within fullScreenContent */
    left: 14vw;          /* Position from left edge */
    bottom: 14vw;        /* Position from bottom edge */
}

#navBarInner {
    padding-top: 24px;
    gap: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

#content {
    background-color: #F0EFEF;

    display: inline-block;
    align-self: flex-end;

    width: 59vw;
    height: 28vw;
    position: absolute;    /* Position absolutely within fullScreenContent */
    left: 37vw;          /* Position from left edge */
    bottom: 18vw;        /* Position from bottom edge */
    overflow-y: auto

}

#embeddedResume {
    width: 100%;
    height: 100%;
}

.postItNote {
    all: unset;
    z-index: 3;
    position: absolute;
    color: #2C3036;
    font-size: 1.5vw;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.postItNote:hover {
    scale: 105%;
}

#resumeText{
    left: 3vw;
    bottom: 48.5vw;
    transform: rotate(-23deg);
}

#contactMe{
    left: 4vw;
    bottom: 39vw;
    transform: rotate(23deg);
}
